.login{
    width: 100%;
    height: auto;
    background: linear-gradient(360deg, #ecf4ff 0%,#e1ffea22 60%);
    padding-top: 100px;
    padding-bottom: 60px;
}
.login-container{
    width: 580px;
    height: auto;
    background: #fff;
    margin: auto;
    padding: 40px 60px;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px 2px #319795;
}
.login-container h2{
    text-align: center;
}
.login input{
    height: 50px;
    width: 96%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color:#5c5c5c;
    font-size:18px;
}
.login-container button{
    width: 100%;
    height: 55px;
    color:#fff;
    background: #ff4141;
    margin-top:30px;
    border:none;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-login{
    margin-top: 20px;
    color:#5c5c5c;
    font-size:18px;
    font-weight: 500;
}
.login-agree{
    display: flex;
}
.login-agree input{
    width: 18px;
    margin-right: 10px;
    margin-top: -10px;
}

.formcont{
    width: 100%;
    padding: 40px;
    position: relative;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-message{
    margin-top: -5px !important;
}